[run]
omit =
    *migrations/*
    debug_*.py
    *site-packages/*
    manage.py
    marketplace/settings.py
    *tests/*
    */chats/apps/api/v1/internal/rest_clients/*
    chats/settings.py

[report]
fail_under = 75
