{% extends 'rooms/emails/base.html' %}
{% load i18n %}

{% block main-content %}
<section style="width: 574px; margin: 50px auto;">
  <div
    style="
      font-family: 'Lato', sans-serif;
      font-weight: bold;
      font-size: 20px;
      line-height: 28px;
      color: #262626;
      margin-top: 24px;
    "
  >
    {% trans 'Hi,' %}
  </div>

  <div
    style="
      font-family: 'Lato', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: #808080;
      margin-top: 24px;
    "
  >
    <p style="margin-top: 24px; margin-bottom: 0;">
      {% blocktrans with project_name=project_name %}The data export for the {{ project_name }} project is ready. Click the button below to download it.{% endblocktrans %}
    </p>
  </div>

  <div
    style="
      position: relative;
      cursor: pointer;
      margin: auto;
      width: 400px;
      text-align: center;
      background: #3b414d;
      color: #ffffff;
      font-size: 16px;
      font-family: 'Lato', sans-serif;
      margin-top: 48px;
      border-radius: 4px;
      padding: 12px 0;
      margin-bottom: 0;
    "
  >
    <a
      clicktracking="off"
      style="
        font-family: 'Lato', sans-serif;
        line-height: 24px;
        padding: 12px 64px;
        text-decoration: none;
        color: #FFF;
      "
      href="{{ download_url }}"
      target="_blank"
    >{% trans 'Download report' %}</a>
  </div>
</section>
{% endblock %}
